<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Employee API Tests">
        <classes>
            <class name="Tests.EmployeeTests">
                <methods>
                    <include name="testGetEmployeeById"/>
                    <include name="updateEmployeeById"/>
                    <include name="createEmployee"/>
                    <include name="deleteEmployeeById"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>